name: Build and Test (Linux)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test-linux:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/hondarer/oracle-linux-8-container/oracle-linux-8-dev:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      env:
        HOST_USER: user
        HOST_UID: 1001
        HOST_GID: 127

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure git safe directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Build
        run: make

      - name: Run tests
        run: make test

      - name: Upload test results artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-linux-test-results-${{ github.sha }}
          path: test/**/results/
          if-no-files-found: warn
